/* SetPassword.css */

.set-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  text-align: center;
  height: 100vh;
  position: relative;
}

.top-center {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.nichangie-logo {
  display: flex;
  flex-direction: row; /* Display the image and text side by side */
  align-items: center; /* Center items vertically */
}

.nichangie-logo img {
 width: 40px; /* Adjust the size as needed */
  margin-right: 10px; /* Add margin to separate the image from text */
  height: 50px;

}

.nichangie-logo h1 {
  margin: 0; /* Remove margin to position text correctly */
}

.centered-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form horizontally */
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
