.button {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  .statesdefault {
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: var(--light-drop-shadow);
    display: flex;
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-5xl);
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--btn-text-size);
    color: white;
    font-family: var(--btn-text);
  }
  